# 0. Import data and packages

In [89]:
import pandas as pd
import numpy as np

In [90]:
df_2022 = pd.read_csv('external/2022.csv')
df_2023 = pd.read_csv('external/2023.csv')

In [91]:
df_2022.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,603,...,146,327,473,82,37,41,84,151,664,achiupr01
1,2,Steven Adams,C,28,MEM,76,75,1999,210,384,...,349,411,760,256,65,60,115,153,528,adamsst01
2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,729,...,137,427,564,190,80,44,148,171,1068,adebaba01
3,4,Santi Aldama,PF,21,MEM,32,0,360,53,132,...,33,54,87,21,6,10,16,36,132,aldamsa01
4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,458,...,73,185,258,42,14,47,44,78,607,aldrila01

In [92]:
df_2023.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Precious Achiuwa,C,23,TOR,55,12,1140,196,404,...,100,228,328,50,31,30,59,102,508,achiupr01
1,2,Steven Adams,C,29,MEM,42,42,1133,157,263,...,214,271,485,97,36,46,79,98,361,adamsst01
2,3,Bam Adebayo,C,25,MIA,75,75,2598,602,1114,...,184,504,688,240,88,61,187,208,1529,adebaba01
3,4,Ochai Agbaji,SG,22,UTA,59,22,1209,165,386,...,43,78,121,67,16,15,41,99,467,agbajoc01
4,5,Santi Aldama,PF,22,MEM,77,20,1682,247,525,...,85,286,371,97,45,48,60,143,696,aldamsa01

In [93]:
for col in df_2022:
    print(col)

Rk
Player
Pos
Age
Tm
G
GS
MP
FG
FGA
FG%
3P
3PA
3P%
2P
2PA
2P%
eFG%
FT
FTA
FT%
ORB
DRB
TRB
AST
STL
BLK
TOV
PF
PTS
Player-additional

# 1. Drop irrelvant columns

In [94]:
# Drop rank, player-id, and percentages
to_drop = ['Rk', 'Player-additional', 'FG%', '3P%', '2P%', 'FT%', 'eFG%']
df_2022.drop(to_drop, inplace=True, axis=1)
df_2023.drop(to_drop, inplace=True, axis=1)

In [95]:
df_2022.dtypes

Player    object
Pos       object
Age        int64
Tm        object
G          int64
GS         int64
MP         int64
FG         int64
FGA        int64
3P         int64
3PA        int64
2P         int64
2PA        int64
FT         int64
FTA        int64
ORB        int64
DRB        int64
TRB        int64
AST        int64
STL        int64
BLK        int64
TOV        int64
PF         int64
PTS        int64
dtype: object

In [96]:
df_2023.dtypes

Player    object
Pos       object
Age        int64
Tm        object
G          int64
GS         int64
MP         int64
FG         int64
FGA        int64
3P         int64
3PA        int64
2P         int64
2PA        int64
FT         int64
FTA        int64
ORB        int64
DRB        int64
TRB        int64
AST        int64
STL        int64
BLK        int64
TOV        int64
PF         int64
PTS        int64
dtype: object

In [97]:
# Check for completeness 
print("Missing values distribution: ")
print(df_2022.isnull().mean())
print("")

Missing values distribution:
Player    0.0
Pos       0.0
Age       0.0
Tm        0.0
G         0.0
GS        0.0
MP        0.0
FG        0.0
FGA       0.0
3P        0.0
3PA       0.0
2P        0.0
2PA       0.0
FT        0.0
FTA       0.0
ORB       0.0
DRB       0.0
TRB       0.0
AST       0.0
STL       0.0
BLK       0.0
TOV       0.0
PF        0.0
PTS       0.0
dtype: float64

In [98]:
print("Missing values distribution: ")
print(df_2023.isnull().mean())
print("")

Missing values distribution:
Player    0.0
Pos       0.0
Age       0.0
Tm        0.0
G         0.0
GS        0.0
MP        0.0
FG        0.0
FGA       0.0
3P        0.0
3PA       0.0
2P        0.0
2PA       0.0
FT        0.0
FTA       0.0
ORB       0.0
DRB       0.0
TRB       0.0
AST       0.0
STL       0.0
BLK       0.0
TOV       0.0
PF        0.0
PTS       0.0
dtype: float64

In [ ]:
df_2022.to_csv('interim/2022_cleaned.csv')
df_2023.to_csv('interim/2023_cleaned.csv')

In [99]:
df_2022.to_csv('interim/2022_cleaned.csv')
df_2023.to_csv('interim/2023_cleaned.csv')