In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_2022 = pd.read_csv('external/2022.csv')
df_2023 = pd.read_csv('external/2023.csv')

In [ ]:
df_2022.head()

In [ ]:
df_2023.head()

In [ ]:
for col in df_2022:
    print(col)

In [ ]:
to_drop = ['Rk', 'Player-additional', 'FG%', '3P%', '2P%', 'FT%']
df_2022.drop(to_drop, inplace=True, axis=1)
df_2023.drop(to_drop, inplace=True, axis=1)

In [ ]:
df_2022.dtypes

In [ ]:
df_2023.dtypes

In [ ]:
print("Missing values distribution: ")
print(df_2022.isnull().mean())
print("")

In [ ]:
print("Missing values distribution: ")
print(df_2023.isnull().mean())
print("")

In [ ]:
df_2022.loc[df_2022.isnull().any(axis=1)]

In [ ]:
df_2023.loc[df_2023.isnull().any(axis=1)]

In [ ]:
df_2023[df_2023['Player'] == "Michael Foster Jr."]['eFG%']

In [48]:
df_2022 = pd.read_csv('external/2022.csv')
df_2023 = pd.read_csv('external/2023.csv')

In [49]:
df_2022.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,603,...,146,327,473,82,37,41,84,151,664,achiupr01
1,2,Steven Adams,C,28,MEM,76,75,1999,210,384,...,349,411,760,256,65,60,115,153,528,adamsst01
2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,729,...,137,427,564,190,80,44,148,171,1068,adebaba01
3,4,Santi Aldama,PF,21,MEM,32,0,360,53,132,...,33,54,87,21,6,10,16,36,132,aldamsa01
4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,458,...,73,185,258,42,14,47,44,78,607,aldrila01

In [50]:
df_2023.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Precious Achiuwa,C,23,TOR,55,12,1140,196,404,...,100,228,328,50,31,30,59,102,508,achiupr01
1,2,Steven Adams,C,29,MEM,42,42,1133,157,263,...,214,271,485,97,36,46,79,98,361,adamsst01
2,3,Bam Adebayo,C,25,MIA,75,75,2598,602,1114,...,184,504,688,240,88,61,187,208,1529,adebaba01
3,4,Ochai Agbaji,SG,22,UTA,59,22,1209,165,386,...,43,78,121,67,16,15,41,99,467,agbajoc01
4,5,Santi Aldama,PF,22,MEM,77,20,1682,247,525,...,85,286,371,97,45,48,60,143,696,aldamsa01

In [51]:
for col in df_2022:
    print(col)

Rk
Player
Pos
Age
Tm
G
GS
MP
FG
FGA
FG%
3P
3PA
3P%
2P
2PA
2P%
eFG%
FT
FTA
FT%
ORB
DRB
TRB
AST
STL
BLK
TOV
PF
PTS
Player-additional

In [52]:
to_drop = ['Rk', 'Player-additional', 'FG%', '3P%', '2P%', 'FT%']
df_2022.drop(to_drop, inplace=True, axis=1)
df_2023.drop(to_drop, inplace=True, axis=1)

In [53]:
df_2022.dtypes

Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP          int64
FG          int64
FGA         int64
3P          int64
3PA         int64
2P          int64
2PA         int64
eFG%      float64
FT          int64
FTA         int64
ORB         int64
DRB         int64
TRB         int64
AST         int64
STL         int64
BLK         int64
TOV         int64
PF          int64
PTS         int64
dtype: object

In [54]:
df_2023.dtypes

Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP          int64
FG          int64
FGA         int64
3P          int64
3PA         int64
2P          int64
2PA         int64
eFG%      float64
FT          int64
FTA         int64
ORB         int64
DRB         int64
TRB         int64
AST         int64
STL         int64
BLK         int64
TOV         int64
PF          int64
PTS         int64
dtype: object

In [55]:
print("Missing values distribution: ")
print(df_2022.isnull().mean())
print("")

Missing values distribution:
Player    0.000000
Pos       0.000000
Age       0.000000
Tm        0.000000
G         0.000000
GS        0.000000
MP        0.000000
FG        0.000000
FGA       0.000000
3P        0.000000
3PA       0.000000
2P        0.000000
2PA       0.000000
eFG%      0.014876
FT        0.000000
FTA       0.000000
ORB       0.000000
DRB       0.000000
TRB       0.000000
AST       0.000000
STL       0.000000
BLK       0.000000
TOV       0.000000
PF        0.000000
PTS       0.000000
dtype: float64

In [56]:
print("Missing values distribution: ")
print(df_2023.isnull().mean())
print("")

Missing values distribution:
Player    0.000000
Pos       0.000000
Age       0.000000
Tm        0.000000
G         0.000000
GS        0.000000
MP        0.000000
FG        0.000000
FGA       0.000000
3P        0.000000
3PA       0.000000
2P        0.000000
2PA       0.000000
eFG%      0.003711
FT        0.000000
FTA       0.000000
ORB       0.000000
DRB       0.000000
TRB       0.000000
AST       0.000000
STL       0.000000
BLK       0.000000
TOV       0.000000
PF        0.000000
PTS       0.000000
dtype: float64

In [62]:
df_2022.loc[df_2022.isnull().any(axis=1)]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,3P,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
42,Jordan Bell,C,27,CHI,1,0,2,0,0,0,...,0,1,0,1,0,1,0,0,2,0
131,Sam Dekker,PF,27,TOR,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132,Javin DeLaurier,C,23,MIL,1,0,3,0,0,0,...,0,0,1,1,0,1,0,0,1,0
154,Jaime Echenique,C,24,WAS,1,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214,Tyler Hall,SG,24,NYK,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
274,DeJon Jarreau,SG,24,IND,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
330,Scottie Lewis,SG,21,CHO,2,0,7,0,0,0,...,2,0,0,0,1,1,0,0,0,1
377,C.J. Miles,SG,34,BOS,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,1,0
397,Ade Murkey,SG,24,SAC,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
df_2023.loc[df_2023.isnull().any(axis=1)]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,3P,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
150,Michael Foster Jr.,PF,20,PHI,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
514,Alondes Williams,SG,23,BRK,1,0,5,0,0,0,...,0,0,1,1,0,0,0,2,1,0

In [60]:
df_2023[df_2023['Player'] == "Michael Foster Jr."]['eFG%']

150   NaN
Name: eFG%, dtype: float64